<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News-api</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>News-api</h1>
    <p>See what happend in the world!</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" th:each="article : ${news}" >
            <div>
                <form method="post" th:id="${article.title}" th:object="${article}">
                    <h2 style="width: 100%;" th:form="${article.title}" name="source" th:text="*{source.getName()}"></h2>
                    <h3 rows="4" style="width: 100%;" th:form="${article.title}" name="title" th:text="*{title}"></h3>
                    <img style="width: 100%;"  th:src="*{urlImage}"  th:attr="form=${article.title}"/>
                    <input type="text" hidden="hidden" name="urlImage" th:value="*{urlImage}">
                    <h4 style="width: 100%" th:form="${article.title}" name="description" th:text="${article.description}"></h4>
                    <textarea rows="5" style="width: 100%" th:form="${article.title}" name="content" th:text="${article.content}"></textarea>
                    <br>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
