<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News-api</title>
</head>
<body>
<div th:each="article : ${news}">
    <form method="post" th:id="${article.title}" th:object="${article}">
        <h3>Źródło: </h3>
        <textarea style="width: 100%;" th:form="${article.title}" name="source" th:text="*{source}"></textarea>
        <h3>Tytuł: </h3>
        <textarea rows="4" style="width: 100%;" th:form="${article.title}" name="title" th:text="*{title}"></textarea>
        <h3>Zdjęcie: </h3>
        <img style="max-height: 400px;"  th:src="*{urlImage}"  th:attr="form=${article.title}"/>
        <input type="text" hidden="hidden" name="urlImage" th:value="*{urlImage}">
        <h3>Opis: </h3>
        <textarea rows="4" style="width: 100%" th:form="${article.title}" name="description" th:text="${article.description}"></textarea>
        <h3>Zawartość: </h3>
        <textarea rows="4" style="width: 100%" th:form="${article.title}" name="content" th:text="${article.content}"></textarea>
        <h3>Data publikacji: </h3>
        <textarea rows="4" style="width: 100%" th:form="${article.title}" name="publishedAt" th:text="${article.publishedAt}"></textarea>
        <h3>Autor: </h3>
        <textarea rows="4" style="width: 100%" th:form="${article.title}" name="author" th:text="${article.author}"></textarea>
        <br>
        <input style="width: 5.2%" type="submit" value="Zapisz">
    </form>
</div>
</body>
</html>
